@mixin TextProperties {
  // This value must match that used in useTextAreaContent
  line-height: 15px;

  font-size: 14px;
  color: black;
  font-family: 'Helvetica', 'Perpetua';
}

.TextArea {
  @include TextProperties;

  outline: none;
  border: none;
  /* textarea is inline and there is a gap at the bottom for it's descenders.
      vertical-align: top removes this gap.
   */
  vertical-align: top;
  resize: none;

  width: 400px;
  height: 200px;

  box-shadow: 5px 5px lightslategray;
}

.TextAreaDoppelganger {
  @include TextProperties;

  border: 1px red solid;
}
